.list {
    list-style: none;
    padding: 20px;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    animation: animate-in 1s ease-out forwards;
}

@media (max-width: 768px) {
    .list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }
}

@media (max-width: 576px) {
    .list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

.listItem {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 2rem;
    margin: 10px;

    background-color: #6a5acd;
    border-radius: 8px;
    cursor: pointer;
}

.title {
    font-size: 1.5em;
    margin-bottom: 5px;
    color: white;
}

.area {
    font-size: 1.2em;
    color: #87CEEB;
}

.icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    color: aqua;
}

.recipeBtn {
    display: block;
    margin: auto;
    margin-bottom: 3rem;
}

.showIngredients {
    color: white;
    margin: 0;
}

a {
    text-decoration: none;
}

@keyframes animate-in {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}