.tipsContainer {
    min-height: 100vh;
    padding-top: 55px;
}

.tips {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1280px;
    margin: 0 auto 20px;
    padding: 2rem;
    text-align: center;
}

@media (max-width: 768px) {
    .tips {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .tips {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

.tipsTitle {
    text-align: center;
    color: #3498db;
    margin-top: 50px;
}

.tips li {
    list-style: none;
    margin: 1rem 1rem;
    padding: 1rem;
    background-color: #ecf0f1;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    animation: animate-in 1s ease-out forwards;
    
}

.tips li:hover {
    background-color: #3498db;
    color: white;
}

@keyframes animate-in {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
